.partner-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-section {
  text-align: center;
  margin-top: 80px;
  width: 80%;
}

.partner-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.partner-carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.partner-logos {
  display: flex;
  animation: scrollLeft 20s linear infinite;
}

.partner-logo {
  flex: 0 0 auto;
  width: 100px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo img {
  width: 100%;
  height: auto;
}

.partner-carousel::before,
.partner-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.partner-carousel::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.partner-carousel::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
